body{
    background-image: url(../images/wallpaper.jpg);
    background-repeat: repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.liststyle{
background-color: lightgray;
font-weight: bold;
font-size: 30px;    
}